{% extends 'base.html.twig' %}

{% block title %}Accueil | Ohmyblog{% endblock %}


{% block body %}


{%include "/template_part/navBar.html.twig" %}

<div class="recettes">
{% for recette in recettes %}

<a href="{{ path("app_recetteById", {id: recette.id}) }}" class="oneRecette">
    <img class="recettesPhoto" src="{{ recette.photo }}" alt="photo recette {{ recette.nom }}" />

<div class="recettesText">
    <p class="recettesTitle">{{ recette.nom }}</p>
    
    <p class="recettesCategorie">{{ recette.categorie.nom }}</p>
</div>

</a>

    {% endfor %}
</div>



{% endblock %}
